body {
  font: " Montserrat, sans-serif";
  line-height: 1.8;
  color: #818181;
  background-color: #050405;
}
body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #deb887;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}
.mynavbar {
  background-color: rgba(54, 54, 54, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100px;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: #deb887;
}

.mynavbar .nav-link {
  color: white;
  font-weight: 300;
  font-family: "Montserrat, sans-serif", sans-serif;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  /* font-weight: bold;  */
  color: #deb887;
}
.navbar-toggler-icon {
  color: #deb887;
}
.navbar-toggler {
  background-color: #deb887;
  border: none;
}
h1 {
  font-size: 50px;
  color: #deb887;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
h4 {
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
}
.jumbotron {
  background: #050405 url("../images/head_atas.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  color: #f5f5f5;
  padding: 100px 25px;
  font-family: "Great Vibes", cursive;
  position: relative;
}

.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 1.2rem;
}

/* .thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 10px;
}
.thumbnail img {
  width: auto;
  height: 100%;
  margin-bottom: 10px;
}

.zoom-effect:hover .thumbnail img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
} */

.item h4 {
  font-size: 1rem;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 2px solid #deb887;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #deb887;
  background-color: #fff !important;
  color: #deb887;
}
.panel-body {
  background-color: #050405;
}
.panel-heading {
  color: #deb887 !important;
  background-color: #050405 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: #050405 !important;
}
.panel-footer h3 {
  font-size: 12px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 10px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #deb887;
  color: black;
}

footer .glyphicon {
  font-size: 10px;
  margin-bottom: 20px;
  color: #deb887;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.rsvp .btn {
  margin: 15px 0;
  background-color: #deb887;
  color: black;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* @media screen and (max-width: 992px) {
  html {
    font-size: 90;
  }

  .simply-countdown > .simply-section {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .simply-countdown > .simply-section {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    width: 20px;
    height: 20px;
  }
} */
